{% extends 'common/base-questions.html' %}

{% load static %}
{% block main %}
	<section class="">
		<nav class="navbar fixed-top navbar-expand-lg">
		  <a class="navbar-brand" href="#">
		  	<img src="{% static 'dash/img/logo.png' %}" width="280" height="80" class="d-inline-block align-top" alt="">
		  </a>
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
		    <span class="navbar-toggler-icon"></span>
		  </button>
		  <div class="collapse navbar-collapse navbar-nav-scroll" id="navbarNav">
		    <ul class="navbar-nav ml-auto">
		      <li class="nav-item">
		        <a class="nav-link disabled" href="">Part A</a>
		      </li>
		      <li class="nav-item">
		        <a class="nav-link disabled" href="">Part B</a>
		      </li>
		      <li class="nav-item active">
		        <a class="nav-link disabled" href="">Part C</a>
		      </li>
		    </ul>
		  </div>
		</nav>
	</section>

	<section class="mt-5" id="main">
		<div class="container-fluid">
			<div class="row">
				{% include 'common/emp_details.html' %}
				<div class="col-md-3" style="margin-right: 80px;"></div>
				<div class="col-md-8 secquestions">
					<div class="row">
						<div class="col-md-12" align="center">
							<h3>PART - C <span style="font-size: 18px;"> <strong>(ECPL Values - Review & Rating)</strong></span></h3>
						</div>
					</div>
					<form method="post" action="/appraisal/partc">
						{% csrf_token %}
						<div class="row">
							<div class="col-md-12">
								<table class="table table-bordered">
								  <thead>
								    <tr>
								      <th scope="col" class="text-center align-middle">Sl No.</th>
								      <th scope="col" class="text-center align-middle">Results & Performance:</th>
								      <th scope="col" class="text-center align-middle">Final Rating (1-5)</th>
								      <th scope="col" class="text-center align-middle width220">Appraisee’s Comments</th>
								      <th scope="col" class="text-center align-middle width220">Appraisers Comments</th>
								    </tr>
								  </thead>
								  <tbody>
								    <tr>
								      <td class="text-center align-middle">1</td>
								      <td class="align-middle">
								      	<h4>Respect</h4>
								      	<ul type="circle">
								      		<li>Has the ability to listen empathetically</li>
								      		<li>Follows defined org processes</li>
								      		<li>Is Punctual for team meetings</li>
								      		<li>Cooperates with and collaborates across levels and grades</li>
								      		<li>Sends reports on time</li>
								      		<li>Is courteous to people irrespective of their station or position.</li>
								      	</ul>
								      </td>
								      <td class="text-center align-middle">
								      	<select required name="res_rat" class="form-control">
											<option value="" selected disabled>-Select-</option>
								      		<option value="1">1</option>
								      		<option value="2">2</option>
								      		<option value="3">3</option>
								      		<option value="4">4</option>
								      		<option value="5">5</option>
								      	</select>
								      </td>
								      <td class="text-center align-middle">
										<div class="form-group">
											<textarea rows="8" class="form-control" name="res_com" required></textarea>
										</div>
									  </td>
								      <td class="text-center align-middle">
										<div class="form-group">
											<textarea rows="8" class="form-control" readonly></textarea>
										</div>
									  </td>
								    </tr>
								    <tr>
								      <td class="text-center align-middle">2</td>
								      <td class="align-middle">
								      	<h4>Integrity</h4>
								      	<ul type="circle">
								      		<li>Completes task without being reminded</li>
								      		<li>Proactively sees the reason behind the organizational decisions</li>
								      		<li>Shows empathy to team members problems</li>
								      		<li>Does not have disciplinary issues</li>
								      		<li>Sees organizational impact in all his actions</li>
								      		<li>Pro-actively shares critical information with others</li>
								      	</ul>
								      </td>
								      <td class="text-center align-middle">
								      	<select required name="int_rat" class="form-control">
											<option value="" selected disabled>-Select-</option>
								      		<option value="1">1</option>
								      		<option value="2">2</option>
								      		<option value="3">3</option>
								      		<option value="4">4</option>
								      		<option value="5">5</option>
								      	</select>
								      </td>
								      <td class="text-center align-middle">
										<div class="form-group">
											<textarea rows="8" class="form-control" name="int_com" required></textarea>
										</div>
									  </td>
								      <td class="text-center align-middle">
										<div class="form-group">
											<textarea rows="8" class="form-control" readonly></textarea>
										</div>
									  </td>
								    </tr>
								    <tr>
								      <td class="text-center align-middle">3</td>
								      <td class="align-middle">
								      	<h4>Diversity</h4>
								      	<ul type="circle">
								      		<li>Communicates relevant information to the team pro-actively</li>
								      		<li>Does not involve in rumour/gossip of any kind</li>
								      		<li>Delegates tasks to the team</li>
								      		<li>Has clear written record/e-mails of all the official discussion with the team</li>
								      		<li>Treats everyone in the team equally</li>
								      		<li>R & R of the team is decided based on written and agreed criteria by the team</li>
								      	</ul>
								      </td>
								      <td class="text-center align-middle">
								      	<select required name="div_rat" class="form-control">
											<option value="" selected disabled>-Select-</option>
								      		<option value="1">1</option>
								      		<option value="2">2</option>
								      		<option value="3">3</option>
								      		<option value="4">4</option>
								      		<option value="5">5</option>
								      	</select>
								      </td>
								      <td class="text-center align-middle">
										<div class="form-group">
											<textarea rows="8" class="form-control" name="div_com" required></textarea>
										</div>
									  </td>
								      <td class="text-center align-middle">
										<div class="form-group">
											<textarea rows="8" class="form-control" readonly></textarea>
										</div>
									  </td>
								    </tr>
								    <tr>
								      <td class="text-center align-middle">4</td>
								      <td class="align-middle">
								      	<h4>Excellence</h4>
								      	<ul type="circle">
								      		<li>Ensures KRA achievements</li>
								      		<li>Always aims at exceeding objectives.</li>
								      		<li>Completes the given tasks</li>
								      		<li>Is Self-motivated</li>
								      		<li>Displays an “ I can”  attitude</li>
								      		<li>Thinks creatively</li>
								      		<li>Is Assertive in achieving business goals</li>
								      	</ul>
								      </td>
								      <td class="text-center align-middle">
								      	<select required name="exc_rat" class="form-control">
											<option value="" selected disabled>-Select-</option>
								      		<option value="1">1</option>
								      		<option value="2">2</option>
								      		<option value="3">3</option>
								      		<option value="4">4</option>
								      		<option value="5">5</option>
								      	</select>
								      </td>
								      <td class="text-center align-middle">
										<div class="form-group">
											<textarea rows="8" class="form-control" name="exc_com" required></textarea>
										</div>
									  </td>
								      <td class="text-center align-middle">
										<div class="form-group">
											<textarea rows="8" class="form-control" readonly></textarea>
										</div>
									  </td>
								    </tr>
								    <tr>
								      <td class="text-center align-middle">5</td>
								      <td class="align-middle">
								      	<h4>Teamwork</h4>
								      	<ul type="circle">
								      		<li>Displays good inter-personal communication</li>
								      		<li>Always puts team before self.</li>
								      		<li>Solicits feedback from his/her team members</li>
								      		<li>Advocates for his/her team members with his/her supervisor</li>
								      		<li>Coaches and supports his/her team members in their tasks.</li>
								      		<li>Generates ideas/suggestions from the team</li>
								      	</ul>
								      </td>
								      <td class="text-center align-middle">
								      	<select required name="tea_rat" class="form-control">
											<option value="" selected disabled>-Select-</option>
								      		<option value="1">1</option>
								      		<option value="2">2</option>
								      		<option value="3">3</option>
								      		<option value="4">4</option>
								      		<option value="5">5</option>
								      	</select>
								      </td>
								      <td class="text-center align-middle">
										<div class="form-group">
											<textarea rows="8" class="form-control" name="tea_com" required></textarea>
										</div>
									  </td>
								      <td class="text-center align-middle">
										<div class="form-group">
											<textarea rows="8" class="form-control" readonly></textarea>
										</div>
									  </td>
								    </tr>
								  </tbody>
								</table>
							</div><!-- 
							<div class="col-md-12">
								<div class="form-group">
								    <label for="Spe_other">Any other Special contributions (To be filled by the Appraiser):</label>
								    <textarea rows="4" class="form-control" name="Spe_other" id="Spe_other"></textarea>
								</div>
							</div> -->
							<div class="col-md-12" align="center">
								<div class="form-group">
								    <button type="submit" class="btn btn-success btn-lg">Final Submit</button>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</section>

{% endblock %}