{% extends 'common/base-questions.html' %}

{% load static %}
{% block main %}
	<section class="">
		<nav class="navbar fixed-top navbar-expand-lg">
		  <a class="navbar-brand" href="#">
		  	<img src="{% static 'dash/img/logo.png' %}" width="280" height="80" class="d-inline-block align-top" alt="">
		  </a>
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
		    <span class="navbar-toggler-icon"></span>
		  </button>
		  <div class="collapse navbar-collapse navbar-nav-scroll" id="navbarNav">
		    <ul class="navbar-nav ml-auto">
		      <li class="nav-item">
		        <a class="nav-link disabled" href="">Part A</a>
		      </li>
		      <li class="nav-item">
		        <a class="nav-link disabled" href="">Part B</a>
		      </li>
		      <li class="nav-item">
		        <a class="nav-link disabled" href="">Part C</a>
		      </li>
		      <li class="nav-item active">
		        <a class="nav-link disabled" href="">Part D</a>
		      </li>
		    </ul>
		  </div>
		</nav>
	</section>

	<section class="mt-5" id="main">
		<div class="container-fluid">
			<div class="row">
				{% include 'common/emp_details.html' %}
				<div class="col-md-3 next_sticky"></div>
				<div class="col-md-8 secquestions">
					<div class="row">
						<div class="col-md-12" align="center">
							<h3>PART - D </h3>
							<h4>INDIVIDUAL DEVELOPMENT PLAN - IDP</h4>
							<h4>(Developed by the supervisor in agreement with the employee)</h4>
						</div>
					</div>
					<div class="row mt-3 mb-3">
						<div class="col-md-12">
							<strong>a. Summary of Strengths and Development needs arising out of employee’s performance    discussed and agreed upon:</strong>
						</div>
					</div>
					<form method="POST" action="" enctype="multipart/form-data">
						{% csrf_token %}
						<div class="row">
							<div class="col-md-12">
								<table class="table table-bordered">
								  <thead>
								    <tr>
								      <th scope="col" class="text-center align-middle" colspan="2">Strengths</th>
								      <th scope="col" class="text-center align-middle" colspan="2">Improvement Areas<br><span style="font-size: 12px;">(Skill & Knowledge to be acquired)</span></th>
								    </tr>
								  </thead>
								  <tbody>
								    <tr>
								      <td class="text-center align-middle" colspan="2">
								      	<textarea class="form-control" rows="10" name="strengths" required></textarea>
								      </td>
								      <td class="text-center align-middle" colspan="2">
								      	<textarea class="form-control" rows="10" name="improvement" required></textarea>
								      </td>
								    </tr>
								    <tr>
								      <th class="text-center align-middle">Development Need<br><span style="font-size: 12px;">(Skill & Knowledge to be acquired)</span></th>
								      <th class="text-center align-middle">Action Plan</th>
								      <th class="text-center align-middle">Responsibility Time Frame</th>
								      <th class="text-center align-middle">Desired Level</th>
								    </tr>
								    <tr>
								      <td class="text-center align-middle">
								      	<input type="text" name="development1" class="form-control" required>
								      </td>
								      <td class="text-center align-middle">
								      	<input type="text" name="action1" class="form-control" required>
								      </td>
								      <td class="text-center align-middle">
								      	<input type="text" name="responsibility1" class="form-control" required>
								      </td>
								      <td class="text-center align-middle">
								      	<input type="text" name="desired1" class="form-control" required>
								      </td>
								    </tr>
								    <tr>
								      <td class="text-center align-middle">
								      	<input type="text" name="development2" class="form-control">
								      </td>
								      <td class="text-center align-middle">
								      	<input type="text" name="action2" class="form-control">
								      </td>
								      <td class="text-center align-middle">
								      	<input type="text" name="responsibility2" class="form-control">
								      </td>
								      <td class="text-center align-middle">
								      	<input type="text" name="desired2" class="form-control">
								      </td>
								    </tr>
								    <tr>
								      <td class="text-center align-middle">
								      	<input type="text" name="development3" class="form-control">
								      </td>
								      <td class="text-center align-middle">
								      	<input type="text" name="action3" class="form-control">
								      </td>
								      <td class="text-center align-middle">
								      	<input type="text" name="responsibility3" class="form-control">
								      </td>
								      <td class="text-center align-middle">
								      	<input type="text" name="desired3" class="form-control">
								      </td>
								    </tr>
								    <tr>
								      <td class="text-center align-middle">
								      	<input type="text" name="development4" class="form-control">
								      </td>
								      <td class="text-center align-middle">
								      	<input type="text" name="action4" class="form-control">
								      </td>
								      <td class="text-center align-middle">
								      	<input type="text" name="responsibility4" class="form-control">
								      </td>
								      <td class="text-center align-middle">
								      	<input type="text" name="desired4" class="form-control">
								      </td>
								    </tr>
								  </tbody>
								</table>
							</div>
							<div class="col-md-12 mt-2">
								<strong>Please tick the block that is most appropriate for the employee based on performance, competency, & value system in the 9 Blocker</strong>
								<table class="table table-bordered">
								  <tbody>
								    <tr>
								      <th scope="row" class="text-center align-middle noribor nori pcolor" rowspan="4">Competencies & Values</th>
								      <th scope="row" class="text-center align-middle noribor">High</th>
								      <td class="text-center align-middle">
								      	<input type="checkbox" class="act_radio" id="checkbox1" name="check" required style="width: 60px; height: 60px;" value="Train/ Identify & refitment">
								      	<p class="mt-2">Train/ Identify & refitment</p>
								      </td>
								      <td class="text-center align-middle">
								      	<input type="checkbox" class="act_radio" id="checkbox2" name="check" required style="width: 60px; height: 60px;" value="Coach / Train / redeploy to Actualize potential">
								      	<p class="mt-2">Coach / Train / redeploy to Actualize potential</p>
								      </td>
								      <td class="text-center align-middle">
								      	<input type="checkbox" class="act_radio" id="checkbox3" name="check" required style="width: 60px; height: 60px;" value="Future Leaders. Move to higher role. Accelerate Opportunity">
								      	<p class="mt-2">Future Leaders. Move to higher role. Accelerate Opportunity</p>
								      </td>
								    </tr>
								    <tr>
								      <th scope="row" class="text-center align-middle noribor">Medium</th>
								      <td class="text-center align-middle">
								      	<input type="checkbox" class="act_radio" id="checkbox4" name="check" required style="width: 60px; height: 60px;" value="Need Development Identify skills gap/ Train">
								      	<p class="mt-2">Need Development Identify skills gap/ Train</p>
								      </td>
								      <td class="text-center align-middle">
								      	<input type="checkbox" class="act_radio" id="checkbox5" name="check" required style="width: 60px; height: 60px;" value="Solid citizens. Train to sustain performance">
								      	<p class="mt-2">Solid citizens. Train to Actualize performance</p>
								      </td>
								      <td class="text-center align-middle">
								      	<input type="checkbox" class="act_radio" id="checkbox6" name="check" required style="width: 60px; height: 60px;" value="Solid citizens. Train to sustain performance">
								      	<p class="mt-2">Solid citizens. Train to sustain performance</p>
								      </td>
								    </tr>
								    <tr>
								      <th scope="row" class="text-center align-middle noribor">Low</th>
								      <td class="text-center align-middle">
								      	<input type="checkbox" class="act_radio" id="checkbox7" name="check" required style="width: 60px; height: 60px;" value="No scope for improvement">
								      	<p class="mt-2">No scope for improvement</p>
								      </td>
								      <td class="text-center align-middle">
								      	<input type="checkbox" class="act_radio" id="checkbox8" name="check" required style="width: 60px; height: 60px;" value="Need Development Coach on Values and improve performance">
								      	<p class="mt-2">Need Development Coach on Values and improve performance</p>
								      </td>
								      <td class="text-center align-middle">
								      	<input type="checkbox" class="act_radio" id="checkbox9" name="check" required style="width: 60px; height: 60px;" value="Coach on Values. Train to sustain performance">
								      	<p class="mt-2">Coach on Values. Train to sustain performance</p>
								      </td>
								    </tr>
								    <tr>
								      <th scope="row" class="text-center align-middle noribor nori" ></th>
								      <th class="text-center align-middle nobobor">Low</th>
								      <th class="text-center align-middle nobobor">Medium</th>
								      <th class="text-center align-middle nobobor">High</th>
								    </tr>
								    <tr>
								    	<td class="text-center align-middle nobobor notp"></td>
								    	<th class="text-center align-middle nobobor notp pcolor" colspan="4">Performance</th>
								    </tr>
								  </tbody>
								</table>
							</div>
							<div class="col-md-12">
								<strong>Training/ Learning Identification need by the L&D:</strong>
							</div>
							<div class="col-md-12 mb-3">
								<table class="table table-bordered">
									<thead>
										<th>Sl No.</th>
										<th>Training Type/Title</th>
										<th>Time frame</th>
									</thead>
									<tbody id="myTable">
										<tr>
											<td>1</td>
											<td><input type="text" name="traing_type_1" class="form-control" required></td>
											<td><input type="text" name="traing_time_1" class="form-control" required></td>
										</tr>
									</tbody>
								</table>
								<div align="center">
									<input type="button" class="btn btn-success" onclick="addField()" value="Add More">
								</div>
							</div>
							<div class="col-md-12">
								<h4 align="center">2. Development Succession Program</h4>
								<h5>Ask yourself the following questions:</h5>
								<ol>
									<li>What direction is ECPL Customer going and what will the organization need from you in 2 years’ time?</li>
									<li>What are your goals over the next 2 years? (This question is crucial to providing a motivational focus for everything that you do.)</li>
									<li>What are your greatest strengths and how can you build on them more effectively?</li>
									<li>Do you have any serious weaknesses that make it difficult to do your job or will prevent you from reaching your goals?</li>
								</ol>
							</div>
							<div class="col-md-12">
								<strong>Roles that the Appraisee can move into (To be filled by Appraiser):</strong>
							</div>
							<div class="col-md-12">
								<table class="table table-bordered">
									<thead>
										<tr>
											<th>Sl.</th>
											<th>Roles</th>
											<th>Skills Required</th>
											<th>Time frame</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>1</td>
											<td><textarea class="form-control" required name="appraisee_roles" rows="4" placeholder="If multiple seperate with comma"></textarea></td>
											<td><textarea class="form-control" required name="appraisee_skills_required" rows="4" placeholder="If multiple seperate with comma"></textarea></td>
											<td><textarea class="form-control" required name="appraisee_time_frame" rows="4" placeholder="If multiple seperate with comma"></textarea></td>
										</tr>
									</tbody>
								</table>
							</div>
							<div class="col-md-12 mt-3">
								<div class="form-group">
									<label for="feedback">Comments and Feedbacks </label>
								    <textarea rows="4" class="form-control" name="feedback" id="feedback" required></textarea>
								</div>	
							</div>
							<div class="col-md-12 mt-5 " align="center">
								<div class="form-group">
								    <button type="submit" class="btn btn-success btn-lg">Final Submit</button>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</section>
{% endblock %}

{% block script %}
	<script type="text/javascript">
		var n=1;
		function addField()
		{
			if (n <= 4) {
				n=n+1;
				var table = document.getElementById("myTable");
				var row = table.insertRow();
				var cell1 = row.insertCell(0);
				var cell2 = row.insertCell(1);
				var cell3 = row.insertCell(2);
				cell1.innerHTML = n;
				cell2.innerHTML = '<input type="text" name="traing_type_'+n+'" class="form-control">';
				cell3.innerHTML = '<input type="text" name="traing_time_'+n+'" class="form-control">';
			}

		}
		$(".act_radio").on('click', function() {
		  var $box = $(this);
		  var $checkbox1 = $('#checkbox1');
		  var $checkbox2 = $('#checkbox2');
		  var $checkbox3 = $('#checkbox3');
		  var $checkbox4 = $('#checkbox4');
		  var $checkbox5 = $('#checkbox5');
		  var $checkbox6 = $('#checkbox6');
		  var $checkbox7 = $('#checkbox7');
		  var $checkbox8 = $('#checkbox8');
		  var $checkbox9 = $('#checkbox9');
		  if ($box.is(":checked")) {
		    var group = "input:checkbox[name='" + $box.attr("name") + "']";
		    $(group).prop("checked", false);
		    $checkbox1.removeAttr("required")
		    $checkbox2.removeAttr("required")
		    $checkbox3.removeAttr("required")
		    $checkbox4.removeAttr("required")
		    $checkbox5.removeAttr("required")
		    $checkbox6.removeAttr("required")
		    $checkbox7.removeAttr("required")
		    $checkbox8.removeAttr("required")
		    $checkbox9.removeAttr("required")
		    $box.prop("checked", true);
		    $box.attr("required",'');
		  } else {
		    $box.prop("checked", false);
		    $checkbox1.removeAttr("required")
		    $checkbox2.removeAttr("required")
		    $checkbox3.removeAttr("required")
		    $checkbox4.removeAttr("required")
		    $checkbox5.removeAttr("required")
		    $checkbox6.removeAttr("required")
		    $checkbox7.removeAttr("required")
		    $checkbox8.removeAttr("required")
		    $checkbox9.removeAttr("required")
		    $box.attr("required",'');
		  }
		});



		$(".mycheck").on('click', function() {
		  var $box = $(this);
		  if ($box.is(":checked")) {
		    var group = "input:checkbox[name='" + $box.attr("name") + "']";
		    $(group).prop("checked", false);
		    $box.prop("checked", true);
		  } else {
		    $box.prop("checked", false);
		  }
		  if ($box.value == "Disagree") {
			$(".additionalfa").removeAttr("disabled");
			$(".additionalfa").attr("required", "");
			$(".additionalfa").focus();
		  } else {
			$(".additionalfa").attr("disabled", "disabled");
			$(".additionalfa").removeAttr("required");
		  }
		});
		$(".additionalf").click(function () {
			if ($(this).is(":checked")) {
				$(".additionalfa").removeAttr("disabled");
				$(".additionalfa").attr("required", "");
				$(".additionalfa").focus();
			} else {
				$(".additionalfa").attr("disabled", "disabled");
				$(".additionalfa").removeAttr("required");
			}
		});


	</script>
{% endblock %}