{% block sidebar %}
<!-- sidebar menu -->
<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
  <div class="menu_section">
    <ul class="nav side-menu">
      <li><a href="/appraisal/manager-dashboard"><i class="fa fa-home"></i> Dashboard</a></li>
      <li><a href="/appraisal/add-parameters"><i class="fa fa-plus"></i> Add Parameters</a></li>
      <li><a href="/appraisal/self-appraisal"><i class="fa fa-pencil"></i> Self Appraisal </a></li>
      <li><a href="/appraisal/added-parameters-agents"><i class="fa fa-users"></i> Agents for whom parameters are added </a></li>
      <li><a href="/appraisal/under-agents"><i class="fa fa-users"></i> Agents Under you </a></li>
      <li><a href="/appraisal/settings"><i class="fa fa-gears"></i> Settings </a></li>
    </ul>
  </div>
</div>
<!-- /sidebar menu -->
{% endblock %}