{% block sidebar %}
<!-- sidebar menu -->
<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
  <div class="menu_section">
    <ul class="nav side-menu">
      <li><a href="/appraisal/manager-dashboard"><i class="fa fa-home"></i> Dashboard</a></li>
      {% if request.user.profile.emp_desi == "Operations Manager" %}
      <li><a href="/appraisal/add-parameters"><i class="fa fa-plus"></i> Add Parameters</a></li>
      {% endif %}
    </ul>
  </div>
</div>
<!-- /sidebar menu -->
{% endblock %}